body{
    margin: 0;
}

.logo{
    width: 100px;
}
header{
    height: 500px;
    background-color: black;
}
section{
    height: 400px;
    background-color: yellow;
}
footer{
    height: 241px;
    background-color: black;
    color: white;
}

.custom-footer{
    margin-left:98px;
    margin-right:98px;
    
}

.row {
border: 1px solid white;
}

.social-links {
    display:flex;
    justify-content:space-between;
}