body{
    margin: 0;
}

.logo{
    width: 100px;
}
header{
    height: 500px;
    background-color: black;
}
section{
    height: 400px;
    background-color: yellow;
}
footer{
    height: 400px;
    background-color: black;
    color: white;
}

.cardimg {margin-top: 15%;}
.imggg {opacity: 0.4;}
.mgenre {width: 100%}
html {background-color: rgb(29, 29, 29);}
.bgcl {background-color: rgb(29, 29, 29);}
.dropdown-menu {background-color: rgb(29, 29, 29) !important;}